body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.375rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 0.9375rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.9375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.875rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.375rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.75rem;
    font-size: calc( 0.978125rem + (0.9375 - 0.978125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.978125rem + (0.9375 - 0.978125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 18px 38px;
  border-radius: 6px;
}
.btn-md {
  padding: 18px 42px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 47px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #13287d !important;
}
.bg-success {
  background-color: #ffc600 !important;
}
.bg-info {
  background-color: #83868c !important;
}
.bg-warning {
  background-color: #eff2f7 !important;
}
.bg-danger {
  background-color: #0a1126 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #13287d !important;
  border-color: #13287d !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #09133b !important;
  border-color: #09133b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #09133b !important;
  border-color: #09133b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #279e64 !important;
  border-color: #279e64 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #18613d !important;
  border-color: #18613d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #18613d !important;
  border-color: #18613d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #83868c !important;
  border-color: #83868c !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #5e6065 !important;
  border-color: #5e6065 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5e6065 !important;
  border-color: #5e6065 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #ffc600 !important;
  border-color: #ffc600 !important;
  color: #000000 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #000000 !important;
  background-color: #b38b00 !important;
  border-color: #b38b00 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #b38b00 !important;
  border-color: #b38b00 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #eff2f7 !important;
  border-color: #eff2f7 !important;
  color: #4d6a9a !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #4d6a9a !important;
  background-color: #bcc9de !important;
  border-color: #bcc9de !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4d6a9a !important;
  background-color: #bcc9de !important;
  border-color: #bcc9de !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #0a1126 !important;
  border-color: #0a1126 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #060c24;
  color: #060c24;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #13287d;
  border-color: #13287d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #13287d !important;
  border-color: #13287d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #134c30;
  color: #134c30;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #279e64;
  border-color: #279e64;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #279e64 !important;
  border-color: #279e64 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #515358;
  color: #515358;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #83868c;
  border-color: #83868c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #83868c !important;
  border-color: #83868c !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #997700;
  color: #997700;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #000000;
  background-color: #ffc600;
  border-color: #ffc600;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffc600 !important;
  border-color: #ffc600 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #abbbd5;
  color: #abbbd5;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #4d6a9a;
  background-color: #eff2f7;
  border-color: #eff2f7;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4d6a9a !important;
  background-color: #eff2f7 !important;
  border-color: #eff2f7 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #0a1126;
  border-color: #0a1126;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0a1126 !important;
  border-color: #0a1126 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #13287d !important;
}
.text-secondary {
  color: #279e64 !important;
}
.text-success {
  color: #ffc600 !important;
}
.text-info {
  color: #83868c !important;
}
.text-warning {
  color: #eff2f7 !important;
}
.text-danger {
  color: #0a1126 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #060c24 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #134c30 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #997700 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #515358 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #abbbd5 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #83868c;
}
.alert-warning {
  background-color: #eff2f7;
}
.alert-danger {
  background-color: #0a1126;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #13287d;
  border-color: #13287d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #13287d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3053e0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff4cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c5c7c9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #acbbe9;
}
.scrollToTop_wraper {
  display: none !important;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.375rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #13287d;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.btn-primary:hover {
  color: #13287d !important;
  background: white !important;
  border-color: white !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #13287d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #13287d;
  border-bottom-color: #13287d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #13287d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #279e64 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2313287d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-s2V8GM9yhP .navbar {
  padding: 0.5rem 0;
  background: #13287d;
  transition: none;
  min-height: 50px;
}
.cid-s2V8GM9yhP .navbar-fixed-top {
  padding-top: 0;
}
.cid-s2V8GM9yhP .navbar-collapse {
  flex-basis: auto;
  transition: all 0.3s ease-in;
}
.cid-s2V8GM9yhP .navbar-collapse.show {
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 100%;
  z-index: 999;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  bottom: auto;
  left: 0px;
  right: 0px;
}
.cid-s2V8GM9yhP .navbar-collapse.show .navbar-nav .nav-item {
  text-align: left;
  padding: 10px 0;
}
.cid-s2V8GM9yhP .navbar-buttons {
  flex-wrap: wrap;
}
.cid-s2V8GM9yhP .menu-logo .navbar-brand {
  display: flex;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-s2V8GM9yhP .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-s2V8GM9yhP .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  padding-right: 2rem;
}
.cid-s2V8GM9yhP .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s2V8GM9yhP .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s2V8GM9yhP .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s2V8GM9yhP .menu-content-top {
  background: #13287d;
  max-width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  align-items: center;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-s2V8GM9yhP .dropdown-item {
  padding: 0;
  color: #83868c;
  line-height: 2.6;
}
.cid-s2V8GM9yhP .dropdown-item:hover {
  color: #279e64 !important;
}
.cid-s2V8GM9yhP .nav-link,
.cid-s2V8GM9yhP .brand-name {
  font-style: normal;
  transition: all 0.3s ease-in;
  color: #ffffff;
}
.cid-s2V8GM9yhP .nav-link:hover,
.cid-s2V8GM9yhP .brand-name:hover {
  color: #279e64 !important;
}
.cid-s2V8GM9yhP .dropdown-menu {
  background-color: #ffffff;
}
.cid-s2V8GM9yhP .dropdown-item:active {
  background-color: #ffffff;
}
.cid-s2V8GM9yhP .menu-bottom {
  margin: auto;
  width: 100%;
  display: flex;
  padding: 0rem 1rem;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}
.cid-s2V8GM9yhP .navbar-dropdown.bg-color.transparent.opened {
  background: #13287d;
}
.cid-s2V8GM9yhP .nav-item {
  position: relative;
}
.cid-s2V8GM9yhP .nav-item span {
  padding-right: 0.4em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-s2V8GM9yhP .nav-item .nav-link {
  transition: all 0.3s ease-in-out 0ms;
}
.cid-s2V8GM9yhP .nav-item .nav-link:focus {
  outline: none;
}
.cid-s2V8GM9yhP .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s2V8GM9yhP .content-text {
  margin-bottom: 0;
}
.cid-s2V8GM9yhP .navbar-nav {
  position: relative;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-s2V8GM9yhP .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #13287d;
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-s2V8GM9yhP .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-s2V8GM9yhP .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-s2V8GM9yhP .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-s2V8GM9yhP .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s2V8GM9yhP .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-s2V8GM9yhP .content-right-side {
  text-align: center;
}
.cid-s2V8GM9yhP .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-s2V8GM9yhP .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-s2V8GM9yhP .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-s2V8GM9yhP .widget-icon.mobi-mbri-phone {
  -webkit-animation: phone-icon-animate 1s ease-in-out infinite;
  animation: phone-icon-animate 1s ease-in-out infinite;
}
.cid-s2V8GM9yhP .info-widget {
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-s2V8GM9yhP .info-widget:first-child {
  margin-left: 0;
}
.cid-s2V8GM9yhP .menu-content-right {
  display: flex;
  align-items: center;
}
.cid-s2V8GM9yhP .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-s2V8GM9yhP .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-s2V8GM9yhP .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-s2V8GM9yhP .widget-content .widget-title {
  margin-bottom: 3px;
  line-height: 1.73;
}
.cid-s2V8GM9yhP .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-s2V8GM9yhP .navbar .menu-content-top {
  display: flex;
  height: 90px;
  border-bottom: 1px solid #5a67a1;
}
@media (min-width: 992px) {
  .cid-s2V8GM9yhP .nav-link {
    line-height: 6.13;
    color: #ffffff;
  }
  .cid-s2V8GM9yhP .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 0;
    margin: auto;
    opacity: 0;
    border-top: 2px solid #279e64;
    transition: all 0.3s ease-in-out 0ms;
  }
  .cid-s2V8GM9yhP .navbar-nav > li:hover > a:before {
    opacity: 1;
    width: 100%;
  }
  .cid-s2V8GM9yhP .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }
  .cid-s2V8GM9yhP .menu-content-top {
    border-bottom: 1px solid rgba(225, 227, 230, 0.2);
  }
  .cid-s2V8GM9yhP .navbar {
    display: block;
    padding: 0;
  }
  .cid-s2V8GM9yhP .navbar .menu-logo {
    margin: auto;
    display: flex;
    align-items: center;
  }
  .cid-s2V8GM9yhP .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    align-self: auto;
    display: flex;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-s2V8GM9yhP .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-s2V8GM9yhP .navbar-toggler {
    display: none;
  }
  .cid-s2V8GM9yhP .navbar-collapse {
    justify-content: flex-end;
  }
}
.cid-s2V8GM9yhP .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-s2V8GM9yhP .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 0;
}
.cid-s2V8GM9yhP .btn-sm {
  padding: 13px 29px;
}
.cid-s2V8GM9yhP .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-s2V8GM9yhP .btn::after {
  background-color: #656565;
  content: "";
  height: 150px;
  left: -75px;
  position: absolute;
  top: -60px;
  transform: rotate(35deg);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  opacity: 0;
  outline: none;
  text-decoration: none;
}
.cid-s2V8GM9yhP .btn:hover::after {
  left: 250px;
  opacity: 0.8;
}
.cid-s2V8GM9yhP .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-s2V8GM9yhP .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-s2V8GM9yhP .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  align-self: center;
}
.cid-s2V8GM9yhP .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s2V8GM9yhP .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding: 25px 0;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-s2V8GM9yhP .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-s2V8GM9yhP .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s2V8GM9yhP .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s2V8GM9yhP .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-s2V8GM9yhP .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s2V8GM9yhP .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s2V8GM9yhP .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s2V8GM9yhP .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s2V8GM9yhP .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-s2V8GM9yhP .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  transition: font-size 0.25s;
}
.cid-s2V8GM9yhP .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s2V8GM9yhP .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s2V8GM9yhP .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s2V8GM9yhP button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
}
.cid-s2V8GM9yhP button.navbar-toggler:focus {
  outline: none;
}
.cid-s2V8GM9yhP button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s2V8GM9yhP button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-s2V8GM9yhP button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-s2V8GM9yhP button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-s2V8GM9yhP button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-s2V8GM9yhP nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-s2V8GM9yhP nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-s2V8GM9yhP nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-s2V8GM9yhP nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-s2V8GM9yhP .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s2V8GM9yhP .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s2V8GM9yhP .collapsed .btn {
  display: flex;
}
.cid-s2V8GM9yhP .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s2V8GM9yhP .collapsed .navbar-collapse.collapsing,
.cid-s2V8GM9yhP .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s2V8GM9yhP .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s2V8GM9yhP .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s2V8GM9yhP .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s2V8GM9yhP .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s2V8GM9yhP .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s2V8GM9yhP .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cid-s2V8GM9yhP .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s2V8GM9yhP .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-s2V8GM9yhP .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-s2V8GM9yhP .collapsed button.navbar-toggler {
  display: block;
}
.cid-s2V8GM9yhP .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-s2V8GM9yhP .collapsed .navbar-toggleable-sm {
  flex-direction: column;
}
.cid-s2V8GM9yhP .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-s2V8GM9yhP .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s2V8GM9yhP .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s2V8GM9yhP .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-s2V8GM9yhP .collapsed .menu-bottom {
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-s2V8GM9yhP .menu-content-top {
    display: flex;
  }
  .cid-s2V8GM9yhP .menu-content-top .right-wrap p {
    display: none;
  }
  .cid-s2V8GM9yhP .dropdown-menu {
    margin-top: 0px;
    background-color: transparent;
    color: black !important;
    padding-left: 20px !important;
  }
  .cid-s2V8GM9yhP .dropdown-menu .dropdown-item {
    text-align: left;
    font-weight: 700;
  }
  .cid-s2V8GM9yhP .menu-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .cid-s2V8GM9yhP .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
    opacity: 0;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0px;
    right: 0px;
    z-index: 999;
  }
  .cid-s2V8GM9yhP .navbar-collapse .navbar-nav .nav-item {
    clear: both;
    text-align: left;
    padding: 10px 0;
  }
  .cid-s2V8GM9yhP .navbar-collapse .icons-menu {
    display: none;
  }
  .cid-s2V8GM9yhP .navbar-collapse.collapsing,
  .cid-s2V8GM9yhP .navbar-collapse.show {
    display: block !important;
  }
  .cid-s2V8GM9yhP .navbar-collapse.collapsing .navbar-nav,
  .cid-s2V8GM9yhP .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s2V8GM9yhP .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s2V8GM9yhP .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s2V8GM9yhP .navbar-collapse.collapsing .navbar-nav .nav-item .nav-link,
  .cid-s2V8GM9yhP .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    font-weight: 700;
    color: #13287d;
  }
  .cid-s2V8GM9yhP .navbar-collapse.collapsing .navbar-buttons,
  .cid-s2V8GM9yhP .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-s2V8GM9yhP .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s2V8GM9yhP .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s2V8GM9yhP img {
    height: 3.8rem !important;
  }
  .cid-s2V8GM9yhP .btn {
    display: flex;
  }
  .cid-s2V8GM9yhP button.navbar-toggler {
    display: block;
  }
  .cid-s2V8GM9yhP .navbar-brand {
    margin-top: 0.5rem;
  }
  .cid-s2V8GM9yhP .navbar-toggleable-sm {
    flex-direction: column;
  }
  .cid-s2V8GM9yhP .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-s2V8GM9yhP .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s2V8GM9yhP .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s2V8GM9yhP .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-s2V8GM9yhP .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-s2V8GM9yhP .nav-link:focus {
  outline: none;
}
.cid-s2V8GM9yhP .navbar-toggler {
  position: relative;
}
.cid-s2V8GM9yhP .widget-title,
.cid-s2V8GM9yhP .widget-icon {
  color: #e9e9e9;
}
.cid-s2V8GM9yhP .widget-text {
  color: #656565;
}
@media (max-width: 768px) {
  .cid-s2V8GM9yhP .menu-content-top .menu-content-right .info-widget {
    margin-left: 20px;
  }
  .cid-s2V8GM9yhP .menu-content-top .menu-content-right .info-widget:first-child {
    margin-left: 0;
  }
  .cid-s2V8GM9yhP .menu-content-top .menu-content-right .info-widget .widget-icon {
    font-size: 20px;
  }
  .cid-s2V8GM9yhP .menu-content-top .menu-content-right .info-widget .widget-content {
    display: none;
  }
  .cid-s2V8GM9yhP .navbar-brand {
    margin-left: 0 !important;
  }
}
@media (max-width: 576px) {
  .cid-s2V8GM9yhP .menu-content-top,
  .cid-s2V8GM9yhP .menu-bottom {
    padding: 0 15px;
  }
  .cid-s2V8GM9yhP button.navbar-toggler {
    align-self: center;
  }
  .cid-s2V8GM9yhP .btn {
    margin-left: 0;
  }
  .cid-s2V8GM9yhP .widget-icon {
    padding-right: 0;
  }
}
.cid-s2V8GM9yhP .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
.cid-s2V8GM9yhP .icons-menu .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
  background-color: #5a67a1;
  border-radius: 100%;
  transition: all 0.3s ease-in;
}
.cid-s2V8GM9yhP .icons-menu .mbr-iconfont:before {
  padding: .75rem;
}
.cid-s2V8GM9yhP .icons-menu .mbr-iconfont:hover {
  color: #ffffff;
  background-color: #279e64;
  -webkit-animation-name: animation-pulse;
  animation-name: animation-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: .9;
}
.cid-s2V8GM9yhP .soc-item {
  margin: .5rem .3rem;
}
@-webkit-keyframes phone-icon-animate {
  0%,
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  20%,
  40% {
    transform: rotate(20deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes phone-icon-animate {
  0%,
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  20%,
  40% {
    transform: rotate(20deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-webkit-keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
.cid-s2V8Iif3En {
  padding-top: 180px;
  padding-bottom: 75px;
  background-color: #14287f;
}
.cid-s2V8Iif3En .img-wrap {
  -webkit-animation: jump 2s ease-in-out alternate;
  animation: jump 2s ease-in-out alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  position: relative;
}
.cid-s2V8Iif3En .img-wrap img {
  width: 100%;
}
.cid-s2V8Iif3En .mbr-section-subtitle {
  color: #ffc600;
}
.cid-s2V8Iif3En .mbr-section-title {
  color: #ffffff;
}
.cid-s2V8Iif3En .mbr-text {
  color: #b0b6d4;
  font-weight: 500;
}
.cid-s2V8Iif3En .mbr-section-btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
}
.cid-s2V8Iif3En .mbr-section-btn .btn:first-child {
  margin-left: 0 !important;
}
@media (max-width: 768px) {
  .cid-s2V8Iif3En .mbr-section-btn {
    justify-content: center !important;
  }
}
@-webkit-keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
.cid-s2V8IvakZ5 {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #eff2f7;
}
.cid-s2V8IvakZ5 .img-wrap {
  position: relative;
}
.cid-s2V8IvakZ5 .img-wrap img {
  width: 100%;
}
.cid-s2V8IvakZ5 .mbr-section-subtitle {
  color: #279e64;
  margin-bottom: 14px;
}
.cid-s2V8IvakZ5 .mbr-section-title {
  color: #13287d;
}
.cid-s2V8IvakZ5 .mbr-text {
  color: #83868c;
}
.cid-s2V8IvakZ5 .mbr-section-btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
}
.cid-s2V8IvakZ5 .mbr-section-btn .btn:first-child {
  margin-left: 0 !important;
}
.cid-s2V8IvakZ5 .cards-wrap {
  margin-top: 30px;
}
.cid-s2V8IvakZ5 .wrapper {
  border-radius: 0.25rem;
  margin-bottom: 26px;
  text-align: left;
}
.cid-s2V8IvakZ5 .wrapper .icon {
  margin-bottom: 21px;
  border-radius: 50%;
  position: relative;
  padding: 16px;
  display: inline-block;
  transition: all .3s;
}
.cid-s2V8IvakZ5 .wrapper .icon:hover {
  -webkit-animation-name: animation-wobble-vertical;
  animation-name: animation-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.cid-s2V8IvakZ5 .wrapper .icon .mbr-iconfont {
  font-size: 38px;
  color: #279e64;
  position: relative;
  display: block;
}
.cid-s2V8IvakZ5 .wrapper .icon1 {
  background-color: #c5e9d8;
}
.cid-s2V8IvakZ5 .wrapper .icon1 .mbr-iconfont {
  color: #13287d;
}
.cid-s2V8IvakZ5 .wrapper .icon2 {
  background-color: #ede0b3;
}
.cid-s2V8IvakZ5 .wrapper .icon2 .mbr-iconfont {
  color: #000000;
}
.cid-s2V8IvakZ5 .wrapper .icon3 {
  background-color: #5a67a1;
}
.cid-s2V8IvakZ5 .wrapper .icon3 .mbr-iconfont {
  color: #ffffff;
}
.cid-s2V8IvakZ5 .wrapper .icon4 {
  background-color: #e3e5e6;
}
.cid-s2V8IvakZ5 .wrapper .mbr-card-title {
  color: #13287d;
  margin-bottom: 17px;
}
.cid-s2V8IvakZ5 .wrapper .mbr-text {
  margin-bottom: 19px;
  color: #83868c;
}
@media (max-width: 768px) {
  .cid-s2V8IvakZ5 .mbr-section-btn {
    justify-content: center;
  }
  .cid-s2V8IvakZ5 * {
    text-align: left;
  }
}
@-webkit-keyframes animation-wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animation-wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
.cid-s2V8IHwJ8J {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s2V8IHwJ8J .contents {
  text-align: center;
  margin-bottom: 54px;
}
.cid-s2V8IHwJ8J .contents .mbr-subtitle {
  color: #279e64;
  margin-bottom: 10px;
}
.cid-s2V8IHwJ8J .contents .mbr-section-title {
  margin-bottom: 20px;
  color: #13287d;
}
.cid-s2V8IHwJ8J .contents .mbr-text {
  color: #83868c;
}
.cid-s2V8IHwJ8J .card.accentCard .card-wrapper {
  background-color: #279e64;
}
.cid-s2V8IHwJ8J .card.accentCard .card-wrapper .card-box .card-title {
  color: #ffffff;
}
.cid-s2V8IHwJ8J .card.accentCard .card-wrapper .card-box .mbr-text {
  color: #ffffff;
}
.cid-s2V8IHwJ8J .card.accentCard .card-wrapper .card-img {
  box-shadow: -10px -10px 0 0 #63b68f;
  background-color: #ffffff;
}
.cid-s2V8IHwJ8J .card.accentCard .card-wrapper .card-img .mbr-iconfont {
  color: #279e64 !important;
}
.cid-s2V8IHwJ8J .card.accentCard .card-wrapper .btn.btn-primary-outline {
  color: #ffffff;
}
.cid-s2V8IHwJ8J .card-wrapper {
  height: 100%;
  border-radius: 5px;
  border: 1px solid #dcdfe2;
  padding: 50px 35px 31px;
  transition: all 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.cid-s2V8IHwJ8J .card-wrapper .card-box .card-title {
  color: #13287d;
}
.cid-s2V8IHwJ8J .card-wrapper .card-box .mbr-text {
  margin-bottom: 25px;
  color: #83868c;
}
.cid-s2V8IHwJ8J .card-wrapper .card-box .mbr-iconfont {
  padding-left: 0.2rem;
  display: inline-block;
}
.cid-s2V8IHwJ8J .card-wrapper .card-img {
  margin-bottom: 40px;
  transition: all .3s linear 0s;
  display: inline-flex;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  padding: 13px;
  box-shadow: -10px -10px 0 0 #eeeff2;
  align-items: center;
  justify-content: center;
  background-color: #279e64;
  cursor: pointer;
  position: relative;
}
.cid-s2V8IHwJ8J .card-wrapper .card-img .mbr-iconfont {
  font-size: 50px;
  color: #ffffff;
}
.cid-s2V8IHwJ8J .card-wrapper .mbr-link-btn {
  transition: all 0.3s;
  margin-bottom: 20px;
}
.cid-s2V8IHwJ8J .card-wrapper .mbr-link-btn .btn {
  transition: all 0.3s;
  font-weight: 700;
}
.cid-s2V8IHwJ8J .card-wrapper .mbr-link-btn .btn.btn-primary-outline {
  color: #13287d;
}
.cid-s2V8IHwJ8J .card-wrapper .mbr-link-btn .btn .mbr-iconfont {
  font-weight: 700;
  padding-left: 40px !important;
  display: inline;
  transition: transform .3s linear 0s !important;
}
.cid-s2V8IHwJ8J .card-wrapper .mbr-link-btn:hover .mbr-iconfont {
  transform: translateX(-10px);
}
.cid-s2V8IHwJ8J .card-wrapper:hover .card-img {
  -webkit-animation: updown 0.45s ease-in-out 0.1s;
  animation: updown 0.45s ease-in-out 0.1s;
}
.cid-s2V8IHwJ8J .btn[class*="-outline"] {
  border: none;
  padding: 0;
  margin: 0 !important;
  box-shadow: none !important;
}
.cid-s2V8IHwJ8J .btn[class*="-outline"] span {
  order: 2;
  font-size: 0.8rem;
  transition: padding 0.3s !important;
}
.cid-s2V8IHwJ8J .btn[class*="-outline"]:hover span {
  padding-left: 10px;
}
.cid-s2V8IHwJ8J .btn[class*="-outline"]:hover {
  background-color: transparent !important;
  color: #13287d !important;
  box-shadow: none !important;
}
.cid-s2V8IHwJ8J .btn[class*="-outline"]:active,
.cid-s2V8IHwJ8J .btn[class*="-outline"]:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}
@media (max-width: 991px) {
  .cid-s2V8IHwJ8J .card {
    margin-bottom: 15px;
  }
}
@-webkit-keyframes updown {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.cid-s2V8LQ8qwE {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s2V8LQ8qwE .head_info {
  text-align: center;
  margin-bottom: 61px;
}
.cid-s2V8LQ8qwE .head_info .mbr-section-title {
  margin-bottom: 20px;
  color: #13287d;
}
.cid-s2V8LQ8qwE .head_info .mbr-subtitle {
  color: #279e64;
  margin-bottom: 10px;
}
.cid-s2V8LQ8qwE .head_info .mbr-section-text {
  margin-top: 20px;
  margin-bottom: 0;
  color: #83868c;
}
.cid-s2V8LQ8qwE .plan {
  position: relative;
  max-width: 330px;
  padding-right: 0;
  padding-left: 0;
  background-color: #eff2f7;
  text-align: center;
  border-radius: 8px;
  padding: 42px 15px 55px;
}
.cid-s2V8LQ8qwE .plan .plan-title {
  color: #13287d;
  margin-bottom: 32px;
}
.cid-s2V8LQ8qwE .plan .icon_box {
  display: block;
  text-align: center;
  padding-bottom: 17.5px;
}
.cid-s2V8LQ8qwE .plan .icon_box .ico1 {
  font-size: 79.5px;
  display: block;
  position: relative;
  color: #279e64;
}
.cid-s2V8LQ8qwE .plan .plan-price .mbr-text {
  color: #13287d;
  margin-bottom: 0;
}
.cid-s2V8LQ8qwE .plan .plan-list {
  margin-bottom: 15px;
}
.cid-s2V8LQ8qwE .plan .plan-list .list-group {
  color: #83868c;
}
.cid-s2V8LQ8qwE .plan .plan-list .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
  background: transparent;
  padding: 5px 0;
}
.cid-s2V8LQ8qwE .plan .plan-list .list-group-item:before {
  color: #4f87fb;
  display: inline-block;
  content: "✓";
  text-align: center;
  transition: all 0.2s;
  width: 25px;
  height: 25px;
}
.cid-s2V8LQ8qwE .plan .plan-list .list-group-item:last-child {
  border-radius: 8px;
}
.cid-s2V8LQ8qwE .plan .mbr-section-btn {
  margin-top: 17.5px;
  margin-bottom: 42px;
}
.cid-s2V8LQ8qwE .plan .mbr-section-btn .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  overflow: hidden;
}
.cid-s2V8LQ8qwE .plan .mbr-section-btn .btn::after {
  background-color: #656565;
  content: "";
  height: 150px;
  left: -75px;
  position: absolute;
  top: -60px;
  transform: rotate(35deg);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  opacity: 0;
  outline: none;
  text-decoration: none;
}
.cid-s2V8LQ8qwE .plan .mbr-section-btn .btn:hover::after {
  left: 250px;
  opacity: 0.8;
}
.cid-s2V8LQ8qwE .plan .mbr-section-btn .btn-primary:hover {
  background-color: #28303f !important;
  color: #ffc600 !important;
}
.cid-s2V8LQ8qwE .plan:hover .mbr-iconfont {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: .35s;
  animation-duration: .35s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes pulse-shrink {
  to {
    transform: scale(0.9);
  }
}
@keyframes pulse-shrink {
  to {
    transform: scale(0.9);
  }
}
.cid-s2V8LxNJeA {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s2V8LxNJeA .main {
  margin-bottom: 70px;
}
.cid-s2V8LxNJeA .main .mbr-section-subtitle {
  color: #279e64;
  margin-bottom: 10px;
}
.cid-s2V8LxNJeA .main .mbr-section-title {
  color: #13287d;
  margin-bottom: 20px;
}
.cid-s2V8LxNJeA .main .mbr-text {
  color: #83868c;
}
.cid-s2V8LxNJeA .wrapper {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 17rem;
  margin-bottom: 25px;
  margin-top: 35px;
}
.cid-s2V8LxNJeA .wrapper .mbr-overlay {
  z-index: 1;
  pointer-events: none;
  border-radius: 0 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #13287d;
  transition: all 0.4s ease-in-out;
  transform: rotateY(0);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 0;
}
.cid-s2V8LxNJeA .wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  pointer-events: all;
}
.cid-s2V8LxNJeA .wrapper .content-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(0);
  transition: all 0.4s ease-in-out;
  visibility: visible;
  pointer-events: none;
}
.cid-s2V8LxNJeA .wrapper .content-block .icon-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .45s ease 0ms;
  cursor: pointer;
}
.cid-s2V8LxNJeA .wrapper .content-block .icon-wrap:hover {
  border-color: transparent;
  color: #ffffff;
}
.cid-s2V8LxNJeA .wrapper .content-block .icon-wrap .mbr-iconfont {
  font-size: 30px;
}
.cid-s2V8LxNJeA .wrapper:hover .mbr-overlay {
  opacity: 0.4;
  z-index: 1;
  visibility: visible;
  transform: rotateY(180deg);
}
.cid-s2V8LxNJeA .wrapper:hover .content-block {
  opacity: 1;
  transform: rotateY(180deg);
  z-index: 1;
  visibility: visible;
}
.cid-s2V8LxNJeA .wrapper:hover .content-block .icon-wrap {
  transform: translate(0);
  opacity: 1;
}
.cid-s2V8LxNJeA .under {
  margin-bottom: 35px;
}
.cid-s2V8LxNJeA .under .card-title {
  color: #13287d;
  transition: all .3s linear 0ms;
  margin-bottom: 13px;
}
.cid-s2V8LxNJeA .under .card-title:hover {
  color: #279e64;
}
.cid-s2V8LxNJeA .under .card-subtitle {
  color: #83868c;
  font-weight: 500;
}
.cid-s2V8LxNJeA .under .mbr-link-btn {
  transition: all .3s linear 0ms;
  position: absolute;
}
.cid-s2V8LxNJeA .under .mbr-link-btn .btn {
  transition: all .3s linear 0ms;
  font-weight: 700;
  position: relative;
  color: #13287d !important;
}
.cid-s2V8LxNJeA .under .mbr-link-btn .btn .mbr-iconfont {
  font-weight: 700;
  padding-left: 40px !important;
  display: inline;
  transition: transform .3s linear 0s !important;
}
.cid-s2V8LxNJeA .under .mbr-link-btn:hover .mbr-iconfont {
  transform: translateX(-10px);
}
.cid-s2V8LxNJeA .btn[class*="-outline"] {
  border: none;
  padding: 0;
  margin: 0 !important;
  box-shadow: none !important;
}
.cid-s2V8LxNJeA .btn[class*="-outline"] span {
  order: 2;
  font-size: 0.8rem;
  transition: padding 0.3s !important;
}
.cid-s2V8LxNJeA .btn[class*="-outline"]:hover span {
  padding-left: 10px;
}
.cid-s2V8LxNJeA .btn[class*="-outline"]:hover {
  background-color: transparent !important;
  color: #279e64 !important;
  box-shadow: none !important;
}
.cid-s2V8LxNJeA .btn[class*="-outline"]:active,
.cid-s2V8LxNJeA .btn[class*="-outline"]:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}
.cid-t7RvAhgOu8 {
  padding-top: 90px;
  padding-bottom: 75px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 70px;
}
.cid-t7RvAhgOu8 .content {
  padding-left: 30px;
}
.cid-t7RvAhgOu8 .mbr-section-subtitle {
  color: #279e64;
}
.cid-t7RvAhgOu8 .mbr-section-title {
  color: #13287d;
}
.cid-t7RvAhgOu8 .mbr-text {
  color: #83868c;
}
.cid-t7RvAhgOu8 .mbr-iconfont {
  font-family: "Moririse2" !important;
  display: inline-flex;
  transform-origin: ;
  transform: rotate(45deg);
  transition: all 0.3s;
  padding: 0 !important;
  font-size: 1.4rem !important;
  color: #13287d;
}
.cid-t7RvAhgOu8 .mbr-iconfont:before {
  transform: scaleY(0) !important;
  transition: all 0.4s;
}
.cid-t7RvAhgOu8 .p-4 {
  padding: 1rem 0 !important;
}
.cid-t7RvAhgOu8 .accordion .card .card-header {
  margin-bottom: 0px;
}
.cid-t7RvAhgOu8 .mbri-arrow-down:before {
  content: "\e960";
}
.cid-t7RvAhgOu8 .mbri-arrow-up:before {
  content: "\e960";
}
.cid-t7RvAhgOu8 .card {
  border-radius: 0px;
  border-bottom: 2px solid #efefef !important;
}
.cid-t7RvAhgOu8 .card:last-child {
  border-bottom: none !important;
}
.cid-t7RvAhgOu8 .card .card-header {
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0;
}
.cid-t7RvAhgOu8 .card .card-header h4 {
  justify-content: flex-start;
  width: 100%;
}
.cid-t7RvAhgOu8 .card .card-header a.panel-title {
  margin-bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cid-t7RvAhgOu8 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-t7RvAhgOu8 .card .card-header a.panel-title h4 {
  padding: 1.2rem 0rem;
  margin-bottom: 0;
  color: #13287d;
  padding-right: 50px;
}
.cid-t7RvAhgOu8 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-t7RvAhgOu8 .card .card-header a.panel-title .toggle-icon {
  right: 20px;
  position: absolute;
  top: 17px;
  transform: translate(-50%, 0) !important;
  display: inline-block;
  margin-left: 0;
  width: 46px;
  height: 46px;
  background-color: #279e64;
  transition: all .3s ease 0s;
  box-shadow: 0 14px 40px 0 #279e64;
}
.cid-t7RvAhgOu8 .card .card-header a.panel-title .toggle-icon:before,
.cid-t7RvAhgOu8 .card .card-header a.panel-title .toggle-icon:after {
  background: #ffffff;
  border: 0;
  box-sizing: border-box;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
}
.cid-t7RvAhgOu8 .card .card-header a.panel-title .toggle-icon:before {
  height: 12px;
  margin-left: -1px !important;
  width: 2px;
  margin-top: -6px;
  background-color: #ffffff;
  border: 0;
  transform: none;
}
.cid-t7RvAhgOu8 .card .card-header a.panel-title .toggle-icon:after {
  height: 2px;
  width: 12px;
  margin-left: -6px;
  margin-top: -1px;
}
.cid-t7RvAhgOu8 .card .panel-body {
  padding: 14px 20px;
}
.cid-t7RvAhgOu8 .card .panel-body p {
  color: #83868c;
}
.cid-t7RvAhgOu8 .collapsed .mbr-iconfont {
  transform: rotate(0deg);
}
.cid-t7RvAhgOu8 .collapsed .mbr-iconfont:before {
  transform: scaleY(1) !important;
  transition: all 0.3s;
}
.cid-t7RvAhgOu8 .collapsed .toggle-icon {
  background-color: transparent !important;
  transform: translate(0, 0);
  right: 7px !important;
  box-shadow: none !important;
}
.cid-t7RvAhgOu8 .collapsed .toggle-icon:before,
.cid-t7RvAhgOu8 .collapsed .toggle-icon:after {
  background: #13287d !important;
}
.cid-t7RvAhgOu8 .collapsed .toggle-icon:before {
  background-color: #13287d !important;
}
.cid-t7RvAhgOu8 .img-wrap img {
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t7RvAhgOu8 * {
    text-align: left;
  }
}
.cid-t7RB6je8vv {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0a1126;
}
.cid-t7RB6je8vv p {
  text-align: center;
}
.cid-t7RB6je8vv .text-copyright {
  width: 100%;
  margin-bottom: 0;
}
.cid-t7RB6je8vv .img-logo-footer {
  margin-right: 1rem;
  max-width: 3rem;
}
.cid-t7RB6je8vv .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.cid-t7RB6je8vv .logo-footer {
  line-height: normal;
}
.cid-t7RB6je8vv .copyright .list-inline {
  margin-bottom: 0;
}
.cid-t7RB6je8vv .copyright .list-inline .list-inline-item {
  margin: 10px 20px;
}
.cid-t7RB6je8vv .copyright .list-inline .list-inline-item:first-child {
  margin-left: 0;
}
.cid-t7RB6je8vv .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-t7RB6je8vv .media-container-row {
  align-items: center;
  justify-content: space-between;
}
.cid-t7RB6je8vv .icon-transition span {
  color: #ffffff;
  display: block;
  text-align: center;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  width: 2rem;
  transition: all 0.3s ease-out 0s;
  font-size: 16px;
}
.cid-t7RB6je8vv .icon-transition span:hover {
  background-color: #279e64;
  color: #ffffff;
  -webkit-animation-name: animation-pulse;
  animation-name: animation-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: .9;
}
.cid-t7RB6je8vv .social-media {
  display: flex;
  justify-content: flex-end;
}
.cid-t7RB6je8vv .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-t7RB6je8vv .social-media ul li {
  padding: 4px;
  display: inline-block;
}
@-webkit-keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@media (max-width: 991px) {
  .cid-t7RB6je8vv .logo-footer {
    text-align: center;
  }
  .cid-t7RB6je8vv .social-media {
    justify-content: center;
  }
}
.cid-t7RB6je8vv .list-inline-item,
.cid-t7RB6je8vv .mbr-list,
.cid-t7RB6je8vv .first-column {
  color: #ffffff;
}
